body {
  background-color: #f7f6f6;
}
table thead {
  background-color: #0a4f70;
  color: white;
}

header {
  height: 5.5rem;
  background-color: bisque;
}

input {
  font-size: 1.5rem;
  width: 16rem;
  height: 2.5rem;
}

input:focus {
  outline: none;
}

.card img {
  height: 15rem;
}

@media screen and (min-width: 768px) {
  input {
    width: 30rem;
    height: 2rem;
  }
}
